# Sanity API token with permissions to access projects and perform operations
SANITY_TOKEN=your_sanity_token_here

# Sanity dataset and project ID
SANITY_PROJECT_ID=your_sanity_project_id_here
SANITY_DATASET=your_sanity_dataset_here

# API version for Sanity (must be 2024-05-23 or later to support releases)
SANITY_API_VERSION=2024-05-23

# Server port
PORT=3000
